.posts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.card {
    border: 2px solid #f0f0f0;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.world {
    color: blue;
    font-weight: 600;
    font-size: 14px;
}

.design {
    color: #28ac00;
    font-weight: 600;
    font-size: 14px;
}

.description {
    font-size: 14px;
}